//////COLORS////////
$hirejuniors-color-primary: #303268;
$hirejuniors-color-secondary: #bdc1da;
$hirejuniors-color-tertiary: #e2e3eec5;

////BREAKPOINTS/////
$phone-small: 20.625em; //330px
$phone-medium: 28.125em; //450px
$phone-large: 37.5em; //600px
$tablet: 56.25em; //900px
$tablet-landscape: 75em; //1200px
$desktop: 112.5em; //1800px
$desktop-large: 112.5em - 1; //1800px
