@import "../../assets/styles/config/variables.scss";
@import "../../assets/styles/config/mixins";

.container {
  height: 100%;

  .landing {
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .content {
      flex: 0 0 33%;
      padding-top: 9vw;

      @include respond($tablet-landscape) {
        flex: 0 0 45rem;
        padding-top: 12vw;
      }

      @include respond($phone-large) {
        flex: 1;
        padding-top: 15vh;
      }

      .tag {
        height: 3em;
        background-color: $hirejuniors-color-secondary;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: 500;

        @include respond($phone-medium) {
          width: 95%;
        }
      }

      .auth_container {
        flex: 0 0 70%;

        .form {
          margin: 0 auto;
          width: 80%;
          height: 45rem;
          box-shadow: 15px 30px 40px rgba(64, 25, 109, 0.07);
          border-radius: 5px;
          padding: 2em 4em 3em 3em;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          @include respond($phone-medium) {
            width: 95%;
          }

          @include respond-custom(22.18em) {
            padding: 2em 3em 2em 3em;
          }

          @include respond-custom(21.25em) {
            padding: 1em 2em 1em 2em;
          }

          @include respond-custom(19.6875em) {
            min-width: 31.5rem;
          }

          .heading {
            flex: 0 0 23%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .heading_primary {
              font-size: 1.9rem;
            }

            .heading_secondary {
              color: #a8a7a7;
              font-size: 1.2rem;
              line-height: 18px;
            }
          }

          div {
            position: relative;

            label {
              margin-bottom: 1rem;
            }

            input {
              font-size: 1.4rem;
              height: 3.3rem;
              border: 0;
              font-family: inherit;
              padding: 3px;
              padding-right: 3.5rem;
              font-family: "Open Sans", sans-serif;
              outline: 0;
              color: #302f2f;
            }

            input:active,
            input:focus {
              border-bottom: 2px solid $hirejuniors-color-primary;
            }

            input::placeholder {
              font-weight: 500;
            }

            span {
              position: absolute;
              top: 3.4rem;
              right: 1rem;

              img {
                width: 2rem;
              }
            }
          }

          .username_field {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .password_field {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .submit {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
              width: 45%;
              font-size: 1.45rem;
              height: 3.5rem;
              color: #eee;
              border: 0;
              background-color: $hirejuniors-color-primary;
              border-radius: 5px;
              font-weight: bold;
              cursor: pointer;
            }

            button:hover {
              color: $hirejuniors-color-primary;
              background-color: #eee;
              border: 2px solid $hirejuniors-color-primary;
            }

            p {
            }
          }
        }
      }
    }
    .landing_illustration {
      flex: 0 0 67%;
      padding-top: 8%;
      text-align: center;

      @include respond($phone-large) {
        display: none;
      }

      img {
        width: 60%;
        height: 100%;

        @include respond($tablet-landscape) {
          width: 80%;
        }

        @include respond($tablet) {
          width: 90%;
        }
      }
    }
  }
  .job_snippets,
  .talent_snippets,
  .about {
    height: 40vh;
    padding: 2rem 7rem;
    display: flex;
    align-items: center;

    @include respond($tablet) {
      height: 40rem;
      padding: 1rem 4rem;
    }

    > .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include respond($tablet) {
        flex-direction: column;
      }

      div {
        flex: 0 0 20%;

        @include respond($tablet) {
          flex: 0 0 15%;
        }
      }
    }
  }

  .talent_snippets {
    background-color: $hirejuniors-color-tertiary;
  }
}
