@import "../assets/styles/config/mixins";
@import "../assets/styles/config/variables";

.sidebar {
  flex: 0 0 19rem;
  max-height: 100vh;
  background-color: $hirejuniors-color-primary;
  color: #eee;
  font-size: 1.3rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    padding: 1.3rem;

    img {
      width: 2rem;
    }
  }

  .nav_item {
    a {
      display: flex;
      width: 100%;
      padding: 1.3rem;
      align-items: center;
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;

      img {
        width: 1.8rem;
        margin-right: 1.5rem;
      }
    }

    &:hover {
      background-color: #030f38;
    }
  }
}
